@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
  --primary-color: #427BD2;
  --primary-rgb: (66,123,210);
  --secondary-color: #000732;
  --secondary-rgb: (0,7,50)
  --accent1-color: #FCDEBE;
  --accent2-color: #2C514C;

  --heading-font: "Lato", sans-serif;
  --paragraph-font: "Lato", sans-serif;

  --paragraph-background-color: var(--accent1-color);
  --nav-link-color: var(--secondary-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--secondary-color);
}


body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
img {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  color: var(--headline-color-on-white);
}
p {
  font-family: var(--paragraph-font);
  padding: 1em;
  font-weight: 300;
}

header {
  text-align: center;
  font-family: var(--heading-font);
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 0 0 100% 100%;
  position: fixed;
}
.header-content {
  display: flex;
  justify-content: center;
  align-self: center;
}
.logo {
  width: 130px;
  border-radius: 5px;
}

#hero-cont {
  z-index: -1;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
}
#hero {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
}
#review-cont {
  background: linear-gradient(to left, rgba(0,7,50,1), rgba(0,7,50,0));
  background: radial-gradient();
  z-index: 6;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 100%;
}


footer {
  background-color: var(--primary-color);
  width: 100;
  margin-top: auto;
  height: 80px;
  padding: 20px;
  text-align: center;
}
#copyright {
  transform: translateY(-46px);
  font-family: Lato;
  color: var(--secondary-color);
  margin: 0;
}
.social-media {
  display: flex;
}
.social-media img {
  transform: translateY(4px);
  max-width: 75px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
#twitter {
  border-radius: 23px;
}

nav {
  line-height: 3em;
  font-size: 1.2em;
  align-items: center;
}
nav a {
  border-radius: 10px;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
